 <nav class="nav">
            <div class="nav__left">
                <img class="nav__logo" src="assets/images/button.svg" alt="">
                <p class="nav__name">MINTON</p>
            </div>
            <div class="nav__right">
                <div class="nav__right__menu">
                    <div class="nav__side">
                        <a href="">
                            <img class="nav__burger" src="assets/images/menu.svg" alt="">
                        </a>
                    </div>
                    <div class="nav__input">
                        <input class="nav__input__search" type="text" placeholder="Search...">
                        <a href="">
                            <img class="nav__input__img" src="assets/images/search.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="nav__right__list">
                    <a href="#">
                        <img class="nav__square" src="assets/images/dots.svg" alt="">
                    </a>
                    <a href="">
                        <img class="nav__square" src="assets/images/notification.svg" alt="">
                    </a>
                    <a href="">
                        <img class="nav__user" src="assets/images/lego.svg" alt="">
                    </a>
                </div>
            </div>
        </nav>