<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Admin panel</title>
        <link rel="stylesheet" href="assets/style/app.css">
        <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    </head>
    <body>
        {{> partials/nav }}
        {{> partials/sidenav }}
        
        <section class="containerOne">
            <div class="containerOne__name">
                <h3>Welcome !</h3>
            </div>
        </section>
        <section class="containerTwo">
            <div class="containerTwo__imgee">
                <picture class="containerTwo__imgee__log">
                    <img class="containerTwo__imgee__log__size" src="assets/images/divider.svg" alt="">
                </picture>
                <div class="containerTwo__imgee__text">
                    <h2>64,570</h2>
                    <p>Today`s Visits</p>
                </div>
                
            </div>
            <div class="containerTwo__imgee">
                <picture class="containerTwo__imgee__log">
                    <img class="containerTwo__imgee__log__size" src="assets/images/divider.svg" alt="">
                </picture>
                <div class="containerTwo__imgee__text">
                    <h2>64,570</h2>
                    <p>Today`s Visits</p>
                </div>
                
            </div>
            <div class="containerTwo__imgee">
                <picture class="containerTwo__imgee__log">
                    <img class="containerTwo__imgee__log__size" src="assets/images/divider.svg" alt="">
                </picture>
                <div class="containerTwo__imgee__text">
                    <h2>64,570</h2>
                    <p>Today`s Visits</p>
                </div>
                
            </div>
            <div class="containerTwo__imgee">
                <picture class="containerTwo__imgee__log">
                    <img class="containerTwo__imgee__log__size" src="assets/images/divider.svg" alt="">
                </picture>
                <div class="containerTwo__imgee__text">
                    <h2>64,570</h2>
                    <p>Today`s Visits</p>
                </div>
                
            </div>
        </section>  
    </body>
</html>